<meta charset="UTF-8">


<!--<li *ngFor="let game of gameArray">
    {{game | json}}
 </li>-->

 <div class="grid-container">
    <div class="left">
      <div class="container">
         <div class="parent">
            <img class="image1" [src]="glitchPath" /> 
            <img class="image2" [src]="imagePath" />
          </div>
            
         <div *ngIf="!hideGameInfo" class="centered">
            <p class="date"><img class="rating" [src]="date" /> {{_gamesService.rndGame.releaseDate}}</p>
            <p class="team">{{_gamesService.rndGame.team}}</p>
            <!--<p>{{_gamesService.rndGame.genre}}</p>-->
            <p class="rating-txt"><img class="rating" [src]="ratingStar" /> {{_gamesService.rndGame.rating}}</p> 
            
         </div>
       </div>
    </div>
    <div class="right">
      <br/><br/><br/><br/><br/><br/>
      <div class="txt-center">
         <p><b>Game :</b> {{_gamesService.rndGame.title}}</p>
         
         <form (submit)="onSubmitLetter()">
            <input required class="answer" type="text" autofocus [maxLength]="1" [(ngModel)]="letterGuess" id="letterGuess" name="letterGuess" autocomplete="off" oninput="this.value = this.value.toLowerCase()"> 
         </form>

         <div class="pad" >
            <div class="inline" *ngFor="let letter of _gamesService.rightLetters; index as i">
               <div class="inline" *ngFor="let space of _gamesService.spaces">
                  <p *ngIf="space == i"></p>
               </div>
               <input type="text" [value]="letter" readonly> 
            </div>
            
      
            <br/><p class="x-small">( Letters: {{_gamesService.gameChars.length}} )</p>
         </div>
         
         <p class="wrongLetters" *ngIf="_gamesService.wrongLetters.length > 0" ><b>Wrong Guesses:</b> {{_gamesService.wrongLetters.toString()}}</p>
         <p class="win">{{win}}</p>

      </div>
  </div>
</div>
