<meta charset="UTF-8">


<!--<li *ngFor="let game of gameArray">
    {{game | json}}
 </li>-->

 <div class="grid-container">
    <div class="left">
      <div class="container">
         <div class="parent">
            <img class="image1" [src]="glitchPath" /> 
            <img class="image2" [src]="imagePath" />
          </div>

          <div class="top-left">
            <button (click)="openDialogHelp()" class="help"><img class="rating" [src]="help" /> Help</button>
          </div>
            
         <div *ngIf="!hideGameInfo" class="centered">
            <p class="date"><img class="rating" [src]="date" /> {{_gamesService.rndGame.releaseDate}}</p>
            <p class="team">{{_gamesService.rndGame.team}}</p>
            <!--<p>{{_gamesService.rndGame.genre}}</p>-->
            <p class="rating-txt"><img class="rating" [src]="ratingStar" /> {{_gamesService.rndGame.rating}}</p> 
         </div>

         <button (click)="openDialogReviews()" class="tv-btn"><img class="review-img" [src]="reviews" /></button>

       </div>
    </div>
    <div class="right">
      <br/><br/>

      <div class="grid-container2">
         <div class="grid-item">
               <div class="column">
                  <div class="container">
                     <img class="stats" [src]="health" /> 
                     <div class="centered-nav">{{_gamesService.lives}}</div>
                   </div>
                   <p>Lives</p>
               </div>
               <div class="column">
                  <div class="container">
                     <img class="stats" [src]="ratingStar" /> 
                     <div class="centered-nav">{{_gamesService.score}}</div>
                   </div>
                   <p>Score</p>
               </div>
         </div>
      </div>
      <br/>

      <div class="txt-center">
         <p>Guess a letter and press "<b>Enter</b>"</p>
         
         <form (submit)="onSubmitLetter()">
            <input required class="answer" type="text" autofocus [maxLength]="1" [(ngModel)]="letterGuess" id="letterGuess" name="letterGuess" autocomplete="off" oninput="this.value = this.value.toUpperCase()"> 
         </form>

         <div class="pad" >
            
            <div class="inline" >
               <ng-container *ngFor="let letter of _gamesService.rightLetters; index as i">
                  <!--<ng-container class="inline" *ngFor="let space of _gamesService.spaces">
                     <p *ngIf="space == i"></p>
                  </ng-container>-->
                  <p *ngIf="_gamesService.spaces.includes(i)"></p>
                  <input type="text" [value]="letter" readonly> 
               </ng-container>
            </div>
            
      
            <br/><p class="x-small">( Letters: {{_gamesService.gameChars.length}} )</p>
         </div>
         
         <p class="wrongLetters" *ngIf="_gamesService.wrongLetters.length > 0" ><b>Wrong Guesses:</b> {{_gamesService.wrongLetters.toString()}}</p>
         

      </div>
  </div>
</div>
