<mat-toolbar color="basic" class="mat-elevation-z10">

    <span routerLink=""><mat-icon>videogame_asset</mat-icon>GameGuess</span>

    <div class="spacer"></div>

    <a mat-raised-button color="warn" routerLink=""><mat-icon>gamepad</mat-icon>Play</a>
    <div class="spacer"></div>
    <a mat-button routerLink="leaderboard"><mat-icon>star</mat-icon>Leaderboard</a>
    <a mat-button routerLink="about"><mat-icon>info</mat-icon>About</a>
    <button
    mat-raised-button
    disabled
    disabledInteractive
    matTooltip="Unavailable">Login</button>

</mat-toolbar>
