<mat-toolbar color="basic" class="mat-elevation-z10">
    
    <a routerLink=""><img class="logo" [src]="logoPath" /></a>
    <a class="logo-txt" mat-button routerLink=""> <b>G</b>ame<b>G</b>uess</a>
    <div class="spacer"></div>

    <div class="pad">
      <a mat-raised-button color="warn" routerLink=""><mat-icon>gamepad</mat-icon>Play</a>
    </div>
    <div class="spacer"></div>
    
    <a routerLink="leaderboard"><img class="other-icons" [src]="leaderboardPath" /></a>
    <a mat-button routerLink="leaderboard">Leaderboard</a>

    <!--<a routerLink="about"><img class="other-icons" [src]="aboutPath" /></a>
    <a mat-button routerLink="about">About</a>-->
    <a (click)="openDialogWithoutRef()"><img class="other-icons" [src]="settings" /></a>
    <a mat-button (click)="openDialogWithoutRef()">Settings</a>
    <!--<mat-icon>info</mat-icon>-->
    <!--<button
    mat-raised-button
    disabled
    disabledInteractive
    matTooltip="Unavailable">Login</button>-->
</mat-toolbar>

<ng-template #secondDialog>
    <h2 class="txt-center"><img class="other-icons" [src]="settings" /> Settings</h2>
    <mat-dialog-content>
      <div class="options">
        <hr/>
        <mat-icon>fullscreen</mat-icon>  Fullscreen (<b>Press key 'F11'</b>)<br/>
        <hr/>

        Sound (<b>{{_gameService.soundSetting}}</b>):<br/>
        <img class="other-icons" [src]="soundOn" />
        <input type="radio" value="ON" [(ngModel)]="_gameService.soundSetting"> 
        <!--input type="radio" value="ON" [(ngModel)]="_gameService.soundSetting" (change)="soundChange()">-->
        <br/>
        <img class="other-icons" [src]="soundMute" /> 
        <input type="radio" value="OFF" [(ngModel)]="_gameService.soundSetting">
        <br/>
        <hr/>

        <div class="small-txt">
            Developed by Fábio Gonçalves<br/>
            <a class="small-txt" [href]="githubUrl" target="_blank">Github: <img class="other-icons" [src]="github" /></a>
        </div>    

      </div>
      
    </mat-dialog-content>
    <mat-dialog-actions align="center">
      <button mat-button matDialogClose color="primary"><mat-icon class="inline-icon">save</mat-icon> Save</button>
    </mat-dialog-actions>
  </ng-template>

<div class="username">
    <!--<input [(ngModel)]="_gameService.username"/>-->
    <p class="username-bg"><img class="cool-size" [src]="cool" /> {{_gameService.username}}</p>
</div>